body {
    background: url(thor.png) no-repeat;
    height: 100%;
    background-size: cover;
    height: 500px;
}
section {
    position: center;
}
nav {
justify-content: space-between;
background-color: black;
display: flex;
position: fixed;
top: 0;
width: 100%;
align-items: center;

}